%section.content-header
  %h1
    Manage Repositories
    .pull-right
      = link_to 'Refresh repositories list', refresh_repositories_path, class: "btn btn-primary"
%section.content

  .nav-tabs-custom
    %ul.nav.nav-tabs
      %li.active
        %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab_1"}
          Synchronized repositories
      %li.not_synched
        %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_2"}
          Not synchronized repositories
    .tab-content
      #tab_1.tab-pane.active
        / /.box-header
        .box-body
          .table-responsive
            %table.table.no-margin
              %thead
                %tr
                  %th Repository
                  %th Owner
                  %th Users
                  %th Actions
              %tbody
                - @synchronized_repositories.each do |repo|
                  %tr
                    %td
                      = link_to repo.full_name, repo.html_url, target: '_blank'
                    %td
                      = repo.owner
                    %td
                      = repo.authorized_reviewers.count
                    %td
                      = link_to "Edit", repository_path(repo), class: "btn btn-xs btn-default"
                      = link_to 'Unsynchronize', remove_repository_path(repo), class: "btn btn-xs btn-danger"

      / /.tab-pane
      #tab_2.tab-pane
        / /.box-header
        .box-body
          .table-responsive
            %table.table.no-margin
              %thead
                %tr
                  %th Repository
                  %th Owner
                  %th Users
                  %th Actions
              %tbody
                - @not_synchronized_repositories.each do |repo|
                  %tr
                    %td
                      = link_to repo.full_name, repo, target: '_blank'
                    %td
                      = repo.owner
                    %td
                      = repo.authorized_reviewers.count
                    %td
                      = link_to "Edit", repository_path(repo), class: "btn btn-xs btn-default"
                      = link_to 'Synchronize', add_repository_path(repo), class: "btn btn-xs btn-success"
