%h1 Users

= link_to 'Add new', new_user_path

%section.content
  %table.table
    %tr
      %th Name
      %th E-mail
      %th Slack
      %th GitHub
      %th Admin
    - @users.each do |user|
      %tr
        %td
          = github_avatar(user)
          = user.name
        %td= user.email
        %td= user.slack_channel
        %td= user.connected_with_github? ? "yes" : ""
        %td= user.admin? ? "yes" : ""
