%h1{style: "color: #fff"}
  = "Manage Pull Requests in your team projects."
%br
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.email_field :email, autofocus: true, class: "form-control input-lg", placeholder: "Enter your email"
  %br
  = f.password_field :password, autocomplete: "off", class: "form-control input-lg", placeholder: "Enter your password"
  %br
  = f.submit "Log in", class: "btn btn-lg btn-warning pull-right"

= render 'devise/shared/links'
